{% extends "dashboard/base.html" %}

{% block body_block %}
<h1> {{question.question_text}} </h1>

{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{% endif %}

<form action="{% url 'questionaire:vote' question.id %}" method="post">
    {% csrf_token %}
<ul>
    {% for choice in question.choice_set.all %}
	<li>
	<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}"/>
	<label for="choice{{forloop.counter}}">{{choice.choice_text}}</lable><br/>
	</li>
    {% endfor %}
</ul>
    <input type="submit" value="Vote"/>
</form>

{% endblock %}
