{% extends "dashboard/base.html" %}

{% block left_body_block %}
{% endblock %}

{% block body_block %}
<h3> {{question.id}}. {{question.question_text}} </h3>

{% if error_message %}
	<div class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>{{error_message}}</strong>
	</div>
{% endif %}

<form action="{% url 'questionaire:answer' question.id %}" method="post">
    {% csrf_token %}
	<!--<li> -->
	<!-- <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}"/> -->
 <div class="container-fluid">
  <div class="row">
	<select id='ans' name="choice" class="image-picker show-html show-labels">
		<option value=""></option>
		{% for choice in question.choice_set.all %}
		<!-- <div class="col-sm-2"> -->
			<!-- <label for="choice{{forloop.counter}}">{{choice.choice_text}}</lable><br/> -->
			<option data-img-label="{{choice.choice_text}}" data-img-src="/media/{{choice.docfile}}" value="{{choice.id}}">{{choice.choice_text}}</option>
		<!-- </div> -->
		{% endfor %}
	</select>
  </div>
</div>

Actual answer :
<div id="selected-answer">
</div>

{% for choice in question.choice_set.all %}
	{% if choice.is_answer %}
		Expected Answer : <h4>{{choice.choice_text}}</h4>
	{% endif %}
{% endfor %}

    <input class="btn btn-success" type="submit" value="Answer the question"/>



<script>
	$("select").imagepicker(
{show_label:true});

$(function(){

	var act_answer = $( "#ans" ).change(function() {
		//  alert($("#ans option:selected").text());
		$("#selected-answer").html($("#ans option:selected").text());
	});


});




</script>

	<input type="hidden" name="exam" value="{{question}}">

</form>

{% endblock %}

{% block right_body_block %}
{% endblock %}

{% block audio_block %}
<audio id="Player" autoplay>
        <source src="/media/{{question.id}}.mp3"/>
</audio>
{% endblock %}
